.image-zoomer-demo {
  display: flex;
}

.zoom-container {
  width: 200px;
  height: 200px;
  padding-right: 25px;
  position: relative;
}

.zoom-container > img {
  max-width: 100%;
}

.zoom-box {
  border: 2px lightblue solid;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
}

.zoom-box.active {
  opacity: 1;
}

.zoom-window {
  border: 1px #31708f solid;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.zoom-window > img {
  position: absolute;
  opacity: 1;
}

.zoom-window.active img {
  opacity: 1;
}
