.image-zoomer-demo {
  display: flex;
  max-width: 600px;
}

.zoom-container {
  flex: 1;
  padding-right: 25px;
  position: relative;
}

.zoom-container > img {
  max-width: 100%;
}

.zoom-box {
  backface-visibility: hidden;
  border: 2px lightblue solid;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.zoom-box.active {
  opacity: 1;
}

.zoom-window {
  border: 1px #31708f solid;
  flex: 2;
  padding-bottom: calc(66.66% - 25px);
  overflow: hidden;
  position: relative;
}

.zoom-window > img {
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
}

.zoom-window.active img {
  opacity: 1;
}
